@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

html {
  scrollbar-width: none;
}

@theme {
  --color-shappire: #047aa6;
  --color-carbon: #333333;
  --color-ice: #ddf6ff;
}
