---
import Image from "astro/components/Image.astro";
---

<div
  class="w-full min-h-32 bg-white gap-10 flex-wrap carrusel px-10 py-5 grid-cols-4 xl:grid-cols-8 justify-items-center grid items-center border-b-2 border-carbon/10"
>
  <Image
    width={"306"}
    height={"100"}
    alt={"brands for Martinez Rojas"}
    src={"/brands/uninorte.png"}
  />
  <Image
    width={"100"}
    height={"100"}
    alt={"brands for Martinez Rojas"}
    src={"/brands/bavaria.png"}
  />
  <Image
    width={"161"}
    height={"100"}
    alt={"brands for Martinez Rojas"}
    src={"/brands/promisol.png"}
  />
  <Image
    width={"265"}
    height={"100"}
    alt={"brands for Martinez Rojas"}
    src={"/brands/tripleaaa.png"}
  />
  <Image
    width={"167"}
    height={"100"}
    alt={"brands for Martinez Rojas"}
    src={"/brands/upl.png"}
  />
  <Image
    width={"328"}
    height={"100"}
    alt={"brands for Martinez Rojas"}
    src={"/brands/monomeros.png"}
  />
  <Image
    width={"100"}
    height={"100"}
    alt={"brands for Martinez Rojas"}
    src={"/brands/unilibre.png"}
  />
  <Image
    width={"485"}
    height={"100"}
    alt={"brands for Martinez Rojas"}
    src={"/brands/corteva.png"}
  />
</div>

<style>
  .carrusel {
    scrollbar-width: none;
  }
</style>

<script>
  console.log("Carrusel");
</script>
