---
import ArrowIcon from "../icons/ArrowIcon.astro";
---

<div class="flex items-center w-full justify-center mt-5">
  <input
    type="email"
    name=""
    id=""
    class="w-80 md:w-96 xl:w-120 py-3 bg-white px-5 placeholder:text-carbon/50 placeholder:font-semibold rounded-l focus:outline-none transition-all duration-500 text-carbon font-medium placeholder:text-sm lg:placeholder:text-base"
    placeholder="Ingresa tu email para recibiar asesoria"
  />
  <button
    class="flex w-20 items-center justify-center h-full bg-shappire text-white rounded-r cursor-pointer"
  >
    <span>
      <ArrowIcon sizes="30" />
    </span>
  </button>
</div>
