---
import Email from "./Email.astro";
---

<div
  style="background-image: url(/images/5.jpg);"
  class="flex-col mt-20 h-120 px-5 xl:h-200 w-full bg-no-repeat relative bg-center"
>
  <div
    class="absolute top-0 left-0 h-full w-full bg-shappire/55 flex flex-col items-center justify-center text-white gap-3 text-center px-3"
  >
    <span
      class="bg-shappire/50 text-white font-medium px-5 text-center text-xs py-2 rounded-full md:text-sm border-2 border-white/40 hover:bg-shappire transition"
    >
      Excelencia y Compromiso en Servicios de Ingeniería y Telecomunicaciones.
    </span>
    <h1 class="font-bold text-4xl xl:text-5xl">Ingeniería Civil y Telecomunicaciones</h1>
    <h2 class="text-center text-balance text-base lg:text-xl font-medium">
      Ejecutamos proyectos estratégicos de infraestructura con enfoque técnico, <br
      />
      cumplimiento normativo y excelencia operativa.
    </h2>
    <Email />
  </div>
</div>
